RewriteEngine on
RewriteRule ^home?$ index.php
RewriteRule ^edit?$ edit.php
RewriteRule ^delete?$ delete.php
RewriteRule ^inbox?$ inbox.php
RewriteRule ^outbox?$ outbox.php
RewriteRule ^maildel?$ delete_email.php
RewriteRule ^trash?$ trash.php
RewriteRule ^forcedelete?$ forcedelete_email.php
RewriteRule ^new?$ newemail.php
RewriteRule ^read?$ readInboxMessage.php
RewriteRule ^concepten?$ concepten.php
RewriteRule ^spam?$ spam.php
RewriteRule ^readspam?$ readJunkMessage.php
RewriteRule ^readtrash?$ readTrashMessage.php
RewriteRule ^forcedeletemessage?$ forcedelete_message.php
RewriteRule ^reply?$ reply.php
RewriteRule ^forward?$ forward.php
RewriteRule ^readsent?$ readSentMessage.php
RewriteRule ^undelete?$ undelete.php
RewriteRule ^flag?$ flag.php
RewriteRule ^contacts?$ contacts.php
RewriteRule ^editcontact?$ editContact.php